:root {
  --title-sm: 1.5rem;
  --title-md: 2.5rem;
  --title-lg: 3rem;
  --title-xl: 6rem;
  --description-sm: 1rem;
  --description-md: 2rem;
  --description-lg: 2.5rem;

  --title-mob: 2rem;
  --title-web: 3rem;
  --subtitle-mob: 1.5rem;
  --subtitle-web: 2rem;
  --description-mob: 1rem;
  --description-web: 1rem; 


  --color-gradient: radial-gradient(circle, rgba(253, 31, 121,0.7316352566417192) 0%, rgba(21, 173, 178,0.5355568252691701) 100%);
  --color-txt: ;
  --color-span: aqua;
  --bg-green: rgb(66, 255, 49);
  --bg-orange: rgb(255, 87, 49);
  --bg-pink: rgb(253, 31, 121);
  --bg-aqua: rgb(21, 173, 178);
  --bg-container: black;

  --gap-container: 5rem;
  --pad-container: 6rem 2rem;

  --pad-lg: 6rem;
  --pad-xl: 6rem 15rem;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


