.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-container);
    padding: var(--pad-container);
    background-color: var(--bg-container);
}

.title {
    font-size: var(--title-sm);
}
.title span {
    background-color: var(--bg-aqua);
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.elements {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem;
    background: var(--bg-aqua);
    border-radius: 20px;
}



@media (min-width: 1280px) {
    .container {
        padding: 6rem;

    }
    .inner {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
    }

    .elements:hover {
        background: var(--color-gradient);
    }
}