.container {
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--gap-container);
    padding: var(--pad-container);
    text-align: center;
  
}

.title {
    font-size: var(--title-mob);
}

.title span {
    background-color: var(--bg-pink);
}
  
.swiper {
    width: 100%;
    height: 400px;

}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 3rem;
    text-align: center;
    background: var(--bg-pink);
    border-radius: 50px;
    height: 400px;
      
}

.subtitle {
    font-size: var(--subtitle-mob);
    text-shadow: 1px 1px 3px var(--bg-aqua);
}

.description{
    font-size: var(--description-mob);
    text-shadow: 1px 1px 3px var(--bg-aqua);
}

.hidden {
    display: none !important;
}


@media (min-width: 1280px) {
    .container {
        padding: var(--pad-lg);
    }



    .swiper {
        display: none !important;
    }

    .hidden {
        display: flex !important;
        justify-content: center;
        gap: 1rem;
    }

    .itemsHidden {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        
    }


    .innerHidden {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-radius: 12px;
        backdrop-filter: blur(7px) saturate(100%);
        -webkit-backdrop-filter: blur(7px) saturate(100%);
        background-color: transparent;
        border: 1px solid var(--bg-aqua);

    }

    .innerHidden:hover{
        transition: 0.8s;
        border: 1px solid var(--bg-pink);
    }

    .bonusContainer {
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }


}

@media (min-width: 1890px) {
    .container {
        padding: var(--pad-xl);
    }
}
