.container {
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--gap-container);
    padding: var(--pad-container);
    text-align: center;
  
}

.containerTitle {
    font-size: var(--title-sm);
}
  
.swiper {
    width: 100%;
    height: 500px;

}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    text-align: center;
    background: var(--bg-pink);
    border-radius: 50px;
      
}

.subtitle {
    font-weight: bold;
}

.hidden {
    display: none !important;
}


@media (min-width: 1280px) {
    .container {
        padding: 6rem;
    }

    .swiper {
        display: none !important;
    }

    .hidden {
        display: flex !important;
        align-items: center;
        justify-content: space-around;     
        gap: 1rem;

    }

    .freeImg {
        max-width: 100vw;
        height: 100%;
    }

    .itemsHidden{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .innerHidden {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        background-color: var(--bg-aqua);
        border-radius: 20px;
    }

}