.btn1 {
    border-style: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bg-green);

    
}
.btn1:hover {
    transition: 1s;
    background-color: var(--bg-orange);
    color: white;
    font-weight: bold;
}

.btn2 {
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    background: var(--bg-pink);
    background: var(--color-gradient);


    
}
.btn2:hover {
    transition: 1s;
    background-color: var(--bg-orange);
    color: white;
    
}