
.btn3,
.btn3:after {
  padding: 1rem;
  width: 100%;
  height: auto;
  font-size: 20px;
  background: linear-gradient(45deg, transparent 5%, var(--bg-green) 5%);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--bg-pink);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  text-shadow: 1px -1px 10px var(--bg-green), -1px -1px 10px var(--bg-pink);
}

.btn3:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'COMECE JÁ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, var(--bg-aqua) 3%, var(--bg-aqua) 5%, var(--bg-pink) 5%);
  text-shadow: -3px -3px 0px var(--bg-orange), 3px 3px 0px var(--bg-aqua);
  clip-path: var(--slice-0);
}

.btn3:after {
  animation: glitch 1s 3;
  animation-delay: 3s;
  animation-timing-function: steps(2,end);
}

.btn3:hover, .btn3:active {
  background: linear-gradient(45deg, transparent 5%, var(--bg-orange) 5%);
  box-shadow: 6px 0px 0px var(--bg-green);

}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
