
.container {
  background-image: url(/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-container);
  padding: var(--pad-container);
  text-align: center;

}

.containerTitle {
  font-size: var(--title-sm);
}

.swiper {
  width: 100%;
}




.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 2rem;
  width: 100%;
  background: var(--bg-pink);
  border-radius: 0 50px;
  height: 350px;

}

.slideTitle {
  font-size: 1.50rem;
}
