.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: var(--pad-container);
    gap: var(--gap-container);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    width: 100%;
}

.inner p {
    font-size: var(--description-md);
    
}
.inner p span {
    text-decoration: line-through;
    color: var(--bg-orange);
}
.inner h1 {
    font-size: var(--title-xl);
    color: var(--bg-green);
    text-shadow: -1px -1px 10px var(--bg-green), -1px -1px 10px var(--bg-pink)
}

.pgtImg{
    width: 400px;
    height: 100%;
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        padding: var(--pad-lg);
    }
    .divImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ctaImg {
        width: 80%;
        height: auto;
    }

    .inner {
        justify-content: center;
        width: 100vw;
    }

    .inner p {
        font-size: var(--subtitle-web);
        
    }

    .inner h1 {
        font-size: var(--title-xl);

    }

}

@media (min-width: 1890px) {
    .container {
        padding: var(--pad-xl);

    }

}