.container {
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: var(--pad-container);
    gap: var(--gap-container);

}

.container h3{
    font-size: var(--title-md);
}


.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.inner p {
    font-size: var(--description-md);
    
}
.inner p span {
    text-decoration: line-through;
    color: var(--bg-orange);
}
.inner h1 {
    font-size: var(--title-xl);
    color: var(--bg-green);
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        padding: 6rem;
        justify-content: space-around;

    }
    .ctaImg{
        width: 100vw;
        height: 100%;
    }

    .inner {
        width: 100vw;

    }
}