.container {
    background-color: var(--bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: var(--pad-container);

}

.container h1 {
    font-size: var(--title-sm);
}
.container p {
    font-size: var(--description-sm);
}