.container {
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--gap-container);
    padding: var(--pad-container);

}

.img {
    width: 50%;
    height: 50%;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container h1 {
    font-size: var(--title-mob);
}
.container p {
    font-size: var(--description-mob);
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        padding: var(--pad-lg);
    }



}

@media (min-width: 1890px) {
    .container {
        padding: var(--pad-xl);
    }
}