.container {
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: var(--gap-container);
    padding: var(--pad-container);
    
}

.guideCover {
    width: auto;
    display: inline-flex;
    border-radius: 50px;
}


.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem 1.5rem;
    
}

.title span {
     background-color: var(--bg-pink);
     font-size: var(--description-md);
}

.description span {
    background: var(--color-gradient);
    font-size: var(--title-sm);
    font-weight: 700;
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        align-items: center;
        padding: 6rem;
    }

    .guideCover {
        width: 637.5px;
        height: 450px;

    }

    .inner {

        align-items: center;
        text-align: center;
        gap: 3rem;
        padding: 1rem;
        
    }
}