.container {
    padding: var(--pad-container);
    background-color: var(--bg-container);
    text-align: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;


}

.text1 {
    font-size: var(--title-sm);
    background-color: var(--bg-pink);
    padding: 1rem;
    
}

.text2 {
    background-color: var(--bg-pink);
    font-size: var(--title-sm);
    padding: 1rem;

}

.text3 {
    font-size: var(--title-sm);
    background-color: var(--bg-aqua);
    padding: 1rem;
}


@media (min-width: 1280px) {
    .inner {
        padding: 6rem;

    }

}