.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--pad-container);
    gap: var(--gap-container);
    background-color: var(--bg-aqua);
    
}


.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-container);

}

.title {
    font-size: var(--title-sm);

    
}

.title strong {
    background-color: var(--bg-pink);
    font-size: var(--title-sm);

}

.guideCover {
    width: max-content;
    
}

.description {
    font-size: var(--title-sm);
}