.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: var(--gap-container);
    padding: var(--pad-container);

}

.title {
    font-size: var(--title-mob);
}

.title span {
    background-color: var(--bg-aqua);
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background: var(--bg-pink);
    background: var(--color-gradient);
    border-radius: 20px;
    width: 100%;
  
}

.descrition {
    font-size: var(--description-mob);
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.name {
    font-size: var(--subtitle-mob);
}

@media (min-width: 1280px) {
    .container {
        padding: var(--pad-lg);
    }

    .items{
        flex-wrap: nowrap;
        gap: 1.5rem;   
    }

    .inner {

        height: 350px;
    }
      
}

@media (min-width: 1890px) {
    .container {
        padding: var(--pad-xl);
    }
}