.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: var(--gap-container);
    padding: var(--pad-container);
    background-color: var(--bg-container);
}

.title {
    font-size: var(--title-sm);
}

.title span {
    background-color: var(--bg-pink);
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: var(--bg-pink);
    background: var(--color-gradient);
    border-radius: 20px;
    width: 400px;
    height: 350px;
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.name {
    font-weight: bold;
}

@media (min-width: 1280px) {
    .container {
        padding: 6rem;
    }

    .items{
        flex-wrap: nowrap;
        gap: 1.5rem;
        
    }

}