.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-container);
    padding: var(--pad-container);
    background-color: var(--bg-container);
}

.title {
    font-size: var(--title-sm);
}

.title span {
    background-color: var(--bg-pink);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: var(--bg-pink);
    background: var(--color-gradient);
    border-radius: 20px;
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.name {
    font-weight: bold;
}